<tr class="js-sells-table-row" data-target="<%= seller.id %>">
    <td><abbr title="<%= seller.name %>"><%= seller.abbr %></abbr></td>
    <td>
        <span><%= data.value %></span>
        <div class="field">
            <div class="control">
                <input class="input js-sells-table-input-value" type="number" value="<%= data.value %>" placeholder="Valeur">
            </div>
        </div>
    </td>
    <td class="is-dependant-data"><%= data.totalValue %></td>
    <td class="is-dependant-data"><%= data.bounty.total %></td>
    <td>
        <span><%= data.paid %></span>
        <div class="field">
            <div class="control">
                <input class="input js-sells-table-input-paid" type="number" value="<%= data.paid %>" placeholder="Payé">
            </div>
        </div>
    </td>
    <td class="is-dependant-data"><%= data.totalPaid %></td>
    <td class="is-dependant-data"><%= data.remaining %></td>
    <td>
        <div class="button is-outlined is-small is-link js-sells-table-edit-row"><span class="fas fa-edit"></span></div>
        <div class="button is-outlined is-small is-success js-sells-table-save-row"><span class="fas fa-check"></span></div>
    </td>
</tr>